body {
  scroll-behavior: smooth; }

.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-right: 1rem !important; }
    .navbar .nav-item .nav-link {
      text-transform: uppercase; }
  .navbar .nav-item:last-child {
    padding-right: 0; }

.carousel-item {
  height: 450px; }

.carousel-img-1 {
  background: url("../img/image1.jpeg");
  background-size: cover; }

.carousel-img-2 {
  background: url("../img/image2.jpeg");
  background-size: cover; }

.carousel-img-3 {
  background: url("../img/image3.jpeg");
  background-size: cover; }

#home-icon .fa {
  font-size: 50px; }

#gallery img {
  min-height: 250px; }

#footer {
  background: #000; }

#page-header {
  background: url("../img/image1.jpeg") center;
  background-size: cover;
  background-attachment: fixed; }

#what-we-do img {
  width: 350px;
  height: 350px; }

#icon-boxes .fa {
  font-size: 50px;
  margin-bottom: 20px; }

#testimonial .slick-prev:before {
  color: #333;
  margin-left: -10px; }

#testimonial .slick-next:before {
  color: #333; }

#services-page-header {
  background: url("../img/image3.jpeg");
  background-size: cover;
  background-attachment: fixed; }

#blog-page-header {
  background: url("../img/image2.jpeg");
  background-size: cover;
  background-attachment: fixed; }

#contact-page-header {
  background: url("../img/mountain.jpg");
  background-size: cover;
  background-attachment: fixed; }

@media (max-width: 767px) {
  #get-started {
    min-height: 270px; } }

@media (max-width: 500px) {
  #showcase h2 {
    font-size: 2.5rem; }
  #get-started {
    min-height: 310px; } }

@media (max-width: 420px) {
  #get-started {
    min-height: 390px; } }
